
div {
    border: 1px solid #222;
}
#container {
    width: 600px;
    border: none;   /*테두리 없앰*/
    margin: 20px auto;
}
table, th, td {
    border: 1px solid #ccc;
    border-collapse: collapse;
}
th, td {
    padding: 10px 20px;
}
#description {
    margin: 20px;
    padding: 20px;
    border-radius: 50px 50px 0 0;
    border-top: 3px dotted;
    border-bottom:3px dotted;
}
#receipe {
    margin: 20px;
    padding: 20px;
    border: 3px dotted;
}
#package {
    margin: 20px;
    padding: 30px;
    border-left: 3px dotted;
    border-right: 3px dotted;
    border-top: 3px dotted;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
}